{% extends 'base_generic.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sign up to get access to more opportunities</h4>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}