{% extends 'base_accounts.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Change password</h4>
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
    </div>
  </div>
{% endblock %}