{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Welcome to the official blog of Intern Like a Pro – your ultimate guide to excelling in the world of internships and launching your career! Our platform is dedicated to providing you with invaluable insights, tips, and resources to make the most out of your internship experiences.
            ..!</p>
        <a href="/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}