{% load static %}
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="./base.html">
                                    <img src="../static/img/logo.png" alt="" style="width: 50px;height: 50px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a href="{% url 'jobs:job-list' %}">Browse Internships</a></li>
                                        <li><a href="{% url 'blog:post_list_blog' %}">Blog</a></li>
                                        <li><a href="{% url 'boards:home' %}">Discussion Forums</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                            
                                {% if request.user.is_authenticated %}

                                    <ul class="navbar-nav ml-auto">
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle m-3" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform: capitalize; color: white;">
                                          {{ user.username }}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                          <a class="dropdown-item" href="#">My account</a>
                                          <a class="dropdown-item" href="#">Change password</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                                        </div>
                                      </li>
                                    </ul>


                                {% else %}
                                <form class="form-inline ml-auto">
                                  <a href="{% url 'accounts:login' %}" class="btn bg-light btn-primary boxed-btn4">Log in</a>

                                  <a href="{% url 'accounts:signup' %}" class="btn bg-light btn-primary m-3 boxed-btn4">Sign up</a>
                                </form>
                              {% endif %}
                            
                                
                                <div class="d-none d-lg-block bg-light rounded">
                                    <a class="boxed-btn4" href="{% url 'jobs:add-job' %}">Post Internship</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>